<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="wrapper">

  <section class="blue">
    <h2>What's this then?</h2>
    <p>Northcoders News is a social news aggregation, web content rating, and discussion website, featuring stories arranged by topic. Each story can be up- or down-voted, and users can comment and vote upon each story. This project is created from a sprint on the <a href="https://www.northcoders.com/">Northcoders</a> bootcamp.</p>

    <h3>How did you build the back end?</h3>
    <p>The API, which is where you are now, is an <a href="https://expressjs.com/">Express</a> server on top of a <a href="https://www.postgresql.org/">PostgreSQL</a> database, hosted on <a href="https://fly.io/">fly.io</a>.</p>
    <p><a href="https://github.com/dentednerd/nc-news-sql">Take a look at the back end repo on Github.</a></p>

    <h3>How did you build the front end?</h3>
    <p>The website is built in <a href="https://reactjs.org/">React</a>, as always, with an <a href="https://bradfrost.com/blog/post/atomic-web-design/">Atomic Design</a> approach to component creation. I used <a href="https://stitches.dev/">Stitches</a> for CSS-in-JS. The "login" implementation uses a combination of <a href="https://react.dev/reference/react#context-hooks">React Context</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">localStorage</a>.</p>

    <p><a href="https://dentednerds-northcoders-news.netlify.app/">Take a look at the live site</a>, hosted by <a href="https://www.netlify.com/">Netlify</a>.</p>

    <p><a href="https://github.com/dentednerd/ncnews">Take a look at the front end repo on Github.</a></p>


  </section>

  <h2>Routes</h2>

  <table>
    <thead>
      <tr>
        <th>Method</th>
        <th>Description</th>
        <th>Queries</th>
      </tr>
    </thead>

    <tbody>

    </tbody>

    <% Object.keys(endpoints).forEach(function(method) { %>
    <tr>
      <td><strong><%= method %></strong></td>
      <td><%= endpoints[method].description %></td>
      <td><%= endpoints[method].queries %></td>
    </tr>
    <% }); %>
  </table>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
